html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@font-face {
  font-family: Belgium Victory;
  src: url(/BelgiumVictory.ttf);
}

@font-face {
  font-family: Belgium Victory Italic;
  src: url(/BelgiumVictoryItalic.ttf);
}

@font-face {
  font-family: Louis George Cafe;
  src: url(/LouisGeorgeCafe.ttf);
}

@font-face {
  font-family: Louis George Cafe Italic;
  src: url(/LouisGeorgeCafeItalic.ttf);
}

@font-face {
  font-family: Louis George Cafe Bold Italic;
  src: url(/LouisGeorgeCafeBoldItalic.ttf);
}
