.container {
  padding: 0 2rem;
  background-color: #f5f5f5;
  background-image: url('/fresh-roasted-coffee-beans-cup-hot-espresso-with-froth-located-left-wide-concrete-white-surface.webp');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: right;
}

.main {
  padding: 4rem 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.landing{
  background-color: #f5f5f5;
  height: 100vh;
}

.topBeans{
  width:100%;
  height: 10rem;
  background-image: url('/coffee-beans-top-view-white-background-space-text-1.webp');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.botBeans{
  position: absolute;
  bottom: 0;
  width:100%;
  height: 10rem;
  background-image: url('/bottom-beans.webp');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.title {
  margin-left: 2rem;
  line-height: 1.15;
  font-size: 2rem;
  font-family: 'Louis George Cafe Bold Italic';
  text-align: center;
}

.subtitle {
  font-size: 1.5rem;
  line-height: 1.5;
  margin: 0;
}

.coffee {
  margin: 0;
  line-height: 1.15;
  font-size: 1rem;
  margin-left: 1rem;
  line-height: 2rem;
  font-weight: bold ;
}

.menu {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex: 1;
  margin: 3rem 0;
  line-height: 1.5;
  color: #f5f5f5;
}

.card {
  margin: 1rem;
  padding: 1.5rem;
  text-align: left;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  color: inherit;
  background-color: rgb(245, 245, 245, 0.8);
  text-decoration: none;
  border: 1px solid #eaeaea;
  border-radius: 10px;
  transition: color 0.15s ease, border-color 0.15s ease;
  width: 100%;
}
